<h1>To Dos</h1>
<app-create-to-do
  (toDoSubmitted)="createToDo($event)"></app-create-to-do>

<!-- List for still open todos -->
<h2>Open To-Dos</h2>
<app-list-to-dos
  [toDos]="openToDos$ | async"
  (toggleToDo)="toggleToDo($event)"
  (deleteToDo)="deleteToDo($event)">
  <p>All done for now!</p>
</app-list-to-dos>

<!-- List for done todos -->
<h2>Done To-Dos</h2>
<button (click)="deleteDoneToDos()">Delete done to-dos</button>
<app-list-to-dos
  [toDos]="doneToDos$ | async"
  (toggleToDo)="toggleToDo($event)"
  (deleteToDo)="deleteToDo($event)">
  <p>Nothing here yet, start finishing things!</p>
</app-list-to-dos>
